* {
    font-family: "Montserrat", sans-serif;
}

.socmed-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.socmed-list li a {
    color: #111;
}

.skill {
    margin-bottom: 10px;
}

.text--dark {
    color: #585858
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  