* {
    font-family: "Montserrat", sans-serif;
}

.socmed-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.socmed-list li a {
    color: #111;
}

.skill {
    margin-bottom: 10px;
}

.text--dark {
    color: #585858
}